<div class="row">
	<div class="box">
		<div class="col-lg-4">
      <%= link_to rooms_single_standart_path do %>
        <p class="text-center">Single standart 490 hrn.</p>
        <%= image_tag 'rooms/small_st_1.jpg', class: 'img-responsive img-full' %>
        <p class="text-right">Read more</p
      <% end %>
    </div>

    <div class="col-lg-4">
      <%= link_to rooms_single_standart_better_path do %>
        <p class="text-center">Single standart better 620 hrn.</p>
        <%= image_tag 'rooms/small_st_1_better.jpg', class: 'img-responsive img-full' %>
        <p class="text-right">Read more</p
      <% end %>
    </div>

    <div class="col-lg-4">
      <%= link_to rooms_double_standart_path do %>
        <p class="text-center">Double standart 780 hrn.</p>
        <%= image_tag 'rooms/small_st_2.jpg', class: 'img-responsive img-full' %>
        <p class="text-right">Read more</p
      <% end %>
    </div>

    <div class="col-lg-4">
      <%= link_to rooms_single_halfluxury_path do %>
        <p class="text-center">Single halfluxury 840 hrn.</p>
        <%= image_tag 'rooms/small_lux_1.jpg', class: 'img-responsive img-full' %>
        <p class="text-right">Read more</p
      <% end %>
    </div>

    <div class="col-lg-4">
      <%= link_to rooms_double_halfluxury_path do %>
        <p class="text-center">Double halfluxury 980 hrn.</p>
        <%= image_tag 'rooms/small_lux_2.jpg', class: 'img-responsive img-full' %>
        <p class="text-right">Read more</p
      <% end %>
    </div>

		<div class="col-lg-4">
      <%= link_to rooms_luxury_path do %>
        <p class="text-center">Luxury 2100 hrn.</p>
        <%= image_tag 'rooms/small_lux.jpg', class: 'img-responsive img-full' %>
        <p class="text-right">Read more</p
      <% end %>
    </div>
	</div>
</div>
