<div class="col-lg-6 col-lg-offset-3">
  <h3 class="text-center">Reservation</h3>
  <%= bootstrap_form_for(@reservation, layout: :horizontal) do |f| %>
    <%= f.select :apartment_type,
                 options_for_select(
                   Reservation::APARTMENT_TYPES.collect{ |t| [t.humanize, t] }
                 )
    %>
    <%= f.select :payment_type,
                 options_for_select(
                   Reservation::PAYMENT_TYPES.collect{ |t| [t.humanize, t] }
                 )
    %>
    <%= f.date_select :arrival_date, start_year: Date.current.year %>
    <%= f.date_select :departure_date, start_year: Date.current.year %>
    <p class="text-center"><%= f.submit "Reserve", class: 'btn btn-lg btn-primary' %></p>
  <% end %>
</div>
