<div class="row">
	<div class="box">
		<div class="col-lg-6 col-lg-offset-3">
      <h3 class="text-center">Reservation</h3>
      <%= bootstrap_form_for(@reservation, layout: :horizontal) do |f| %>
        <%= f.select :apartment_type,
                     options_for_select(
                       Reservation::APARTMENT_TYPES.collect{ |t| [t.humanize, t] }
                     )
        %>
        <%= f.select :payment_type,
                     options_for_select(
                       Reservation::PAYMENT_TYPES.collect{ |t| [t.humanize, t] }
                     )
        %>
        <%= f.date_select :arrival_date %>
        <%= f.date_select :departure_date %>
        <%= f.submit "Reserve" %>
      <% end %>
		</div>
	</div>
</div>
