<div class="col-lg-6 col-lg-offset-3">
  <h3 class="text-center">Forgot your password?</h3>

  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, layout: :horizontal) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, autofocus: true %>

    <div class="actions">
      <div class="text-center">
        <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  <% end %>

  <hr>

  <%= render "devise/shared/links" %>
</div>
