<div id="review-<%= review.id %>" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= review.user.name %>
      <span class="stars pull-right">
        <% review.rating.times do %>
          <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
        <% (10 - review.rating).times do %>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <p class="review-text  ">
      <%= review.text %>
    </p>
    <div class="pull-right">
      <% if current_user == review.user %>
        <%= link_to 'Delete', review_path(review), method: :delete, remote: true %> |
      <% end %>

      <small>
        <%= time_ago_in_words(review.created_at) %> ago
      </small>
    </div>
  </div>
</div>
